{{> menu }}

<section class="section">
    <div class="title">
      {{placemark.name}}
    </div>
        <p>Latitude: {{placemark.latitude}}</p>
        <p>Longitude: {{placemark.longitude}}</p>
        <p>Description: {{placemark.description}}</p>
    </div>
</section>