<h1 class="title" >Add a new Category: </h1>
<form action="/dashboard/addcategory" method="POST">
  <div class="field">
    <input class="input" type="text" placeholder="name" name="name">
  </div>
  <button class="button is-link" >Add Category</button>
</form>