<div style="margin-bottom: 30px;">
  <h1 class="title">Analytics:</h1>
  <div class=" is-vcentered">
    <div class="box box-link-hover-shadow">
      <i class="fa fa-user fa-2x"> Users: {{users.length}}</i>
    </div>
    <div class="box box-link-hover-shadow">
      <i class="fa fa-map-marker fa-2x" aria-hidden="true"> Categories: {{categories.length}}</i>
    </div>
    <div class="box box-link-hover-shadow">
      <i class="fa fa-th-list fa-2x"> Placemarks: {{placemarks.length}}</i>
    </div>
  </div >
</div>