{{#each users}}
  <div class="box box-link-hover-shadow">
    <h2 class="title">
      {{firstname}} {{lastname}}
    </h2>
    <a href="/user/{{_id}}" class="button">
      <span class="icon is-small">
        <i class="fas fa-folder-open"></i>
      </span>
    </a>
    <a href="/admindashboard/deleteuser/{{_id}}" class="button">
      <i class="fas fa-trash"></i>
    </a>
  </div>
{{/each}}